* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.MuiTabs-flexContainer {
    gap: 80px;
}
@media screen and (max-width: 768px) {
    .MuiTabs-flexContainer {
        gap: 40px;
    }
}