* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

.Toastify__toast-container {
    padding: 20px !important;
}

.Toastify__toast {
    margin: 8px 0;
    border-radius: 50px !important;
}

@media screen and (min-width: 480px) {
    .Toastify__toast {
        width: 400px;
    }
}

.Toastify__toast--error {
    border: 1px solid #721c1c8a;
}

.Toastify__toast--success {
    border: 1px solid rgb(21, 134, 30);
}

.Toastify__toast .Toastify__close-button {
    margin: auto 5px;
    opacity: 0.4;
}

.game-card-wrapper > div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

#root {
    overflow: hidden
}

.swiper {
    width: 100% !important;
}
.popup-portal {
    z-index: 9999;
}
.popup-portal > div {
    z-index: inherit;
    background-color: transparent !important;
}
.popup-content {
    position: fixed !important;
}

.popup-content > div > * {
    position: relative;
    width: 100%;
}
.popup-content > div > *:before {
    content: '';
    position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
    height: 1px;
    background-color: #AB0013;
    opacity: 0.25;
}

.popup-content > div > *:first-child:before, .caret-menu-no-line:before {
    display: none !important;
}

.swiper-button-disabled {
    display: none !important;
}

.filter-arrow-up > img {
    animation: arrow-up-animation 1s ease-out;
    animation-fill-mode: forwards;
}
.filter-arrow-down > img {
    animation: arrow-down-animation 1s ease-out;
    animation-fill-mode: forwards;
}

.learn-link:active {
    background: rgba(94, 0, 0, 0.2);
    color: #fff;
}

@keyframes arrow-up-animation {
    30% {
        transform: rotate(370deg);
    }
    50% {
        transform: rotate(354deg);
    }
    70% {
        transform: rotate(365deg);
    }
    85% {
        transform: rotate(357deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes arrow-down-animation {
    30% {
        transform: rotate(190deg);
    }
    50% {
        transform: rotate(174deg);
    }
    70% {
        transform: rotate(185deg);
    }
    85% {
        transform: rotate(177deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

.MuiTabs-flexContainer {
    gap: 80px;
}
@media screen and (max-width: 768px) {
    .MuiTabs-flexContainer {
        gap: 40px;
    }
}